main {
  margin: auto;
}

.mission {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.content {
  width: 25%;
  word-wrap: break-word;
  align-self: center;
}

.picture {
  padding: 2em;
}

.picture2 {
  padding: 2em;
}

h2 {
  text-align: center;
}

.paragraph {
  font-size: 1.25rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.storyTitle {
  padding: 1em;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(95, 94, 94);
  color: white;
  bottom: 0;
  width: 100%;
}
