main {
  margin: auto;
}

.mission {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.content {
  width: 25%;
  word-wrap: break-word;
  align-self: center;
}

.picture {
  padding: 2em;
}

.picture2 {
  padding: 2em;
}

h2 {
  text-align: center;
}

.paragraph {
  font-size: 1.25rem;
}

.storyTitle {
  padding: 1em;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(95, 94, 94);
  bottom: 0;
  width: 100%;
}

.footerText {
  color: black;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .mission {
    gap: 10px;
  }

  .content {
    width: 100%;
  }

  .picture,
  .picture2 {
    padding: 0.5em;
  }

  .paragraph {
    font-size: 0.9rem;
  }

  .storyTitle {
    padding: 0.25em;
  }
}

@media (max-width: 500px) {
  .picture,
  .picture2 {
    height: 250px; /* Reduced padding for smaller screens */
  }
}
