.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #000000;
  z-index: 1000;
  animation: slide-in 0.5s ease-in-out;
  overflow-y: auto;
}

.center {
  display: flex;
  justify-content: space-between;
}

.closeBtn {
  border-radius: 5px;
  padding: 0px 1em;
  margin-left: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background: none;
}

.closeBtn:hover {
  background: none;
}

.popupInner {
  text-align: center;
}

.slideOut {
  transition: slide-out 1s ease-in-out;
}

.cart {
  display: flex;
  text-decoration: none;
}

.container {
  width: 100%;
}

.items {
  display: flex;
  margin: 2em 0;
}

.separate {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.separatePrice {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 7.15em;
}

.increment {
  display: flex;
  padding-left: 0.5em;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 0em 1.1em;
}

.btn {
  padding: 0.75em 1.25em;
  border: none;
  cursor: pointer;
}

.line {
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
}

button {
  padding: 10px 40px;
  /* margin: 5px; */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &.continueShoppingBtn {
    background-color: #4caf50;
    color: white;
  }

  &.checkoutNowBtn {
    background-color: #008cba;
    color: white;
    margin: 1em;
  }

  &:hover {
    background-color: #333;
  }
}

.totalCost {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
