.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #000000;
  z-index: 1000;
  animation: slide-in 0.5s ease-in-out;
}

.closeBtn {
  position: fixed;
  right: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.1em 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  background: none;
}

.popupInner {
  text-align: center;
}

.slideOut {
  transition: slide-out 1s ease-in-out;
}

.cart {
  display: flex;
  text-decoration: none;
}

.items {
  display: flex;
}

.increment {
  display: flex;
  padding-left: 0.5em;
}

.number {
  border: 1px solid black;
  padding: 0.5em 0.9em;
}

.btn {
  padding: 0.75em 1.25em;
  border: none;
  cursor: pointer;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
