.title {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: orangered;
  text-shadow: 5px 3px 5px black;
  box-shadow: 1px 1px 1px 1px red;
  text-decoration: none;
}

.shopNow {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0b0b0b;
  color: red;
  padding: 0.5em 2em;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  border-radius: 25px;
  text-decoration: none;
}
.shopNow:hover {
  background: black;
  cursor: pointer;
}

.homeBackGround {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1015px) {
  .title {
    font-size: 4rem;
  }
}
