.title {
  position: absolute;
  left: 50%;
  bottom: 60%;
  margin-left: -350px;
  font-size: 4rem;
  color: orangered;
  text-shadow: 5px 3px 5px black;
  box-shadow: 1px 1px 1px 1px red;
  text-decoration: none;
}

h2 + a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0b0b0b;
  color: red;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding: 0.75em 2em;
}

h2 + a:hover {
  background: black;
}

img {
  pointer-events: none;
}
