@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 6em;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin-left: 7em;
  margin-right: 7em;
}

.card {
  padding: 2em 0em;
  cursor: pointer;
  transition-duration: 1s;
  transition-delay: 0.25s ease-in-out;
  color: black;
}

.card:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 1px red;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.75rem;
  margin-top: 0.25em;
  text-decoration: underline;
}

h3 {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 1.5rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-75%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
