@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.back {
  text-align: left;
  color: black;
  font-size: 1.5rem;
  position: relative;
  top: 50px;
  left: 125px;
}

.back:hover {
  text-shadow: 1px 1px 1px red;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
}

.productName {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 3rem;
  padding-bottom: 1em;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: self-start;
  padding-top: 9.25em;
}

.sizeButtons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 10px;
}

.sizeButton {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: white;
  color: rgb(55, 55, 55);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  border: 1px solid rgb(55, 55, 55);
  line-height: 1.5rem;
}

.sizeButton:hover {
  background-color: #9b9a9a;
}

.active {
  background-color: black;
  color: white;
}

.inStock {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
  gap: 0.5em;
  color: grey;
  margin: 1em 0em;
}

.inStockText {
  font-size: 0.8rem;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stockStatus {
  display: inline-block;
  width: 12px; /* Adjust the width for the desired size */
  height: 12px; /* Adjust the height for the desired size */
  border-radius: 50%;
  background-color: rgb(17, 192, 17);
  box-shadow: 1px 1px 10px rgb(48, 177, 48);
  color: white;
  text-align: center;
  line-height: 80px;
}

.productDetailFont {
  font-size: 1.5rem;
  padding-left: 0.35em;
}

.worldWide {
  font-weight: 100;
  color: grey;
  font-size: 0.75rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 1em;
  padding-left: 1em;
}

.increment {
  display: flex;
  padding-left: 0.5em;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 0em 1.1em;
}

.btn {
  padding: 0.75em 1.25em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: darkgray;
}

.addToCart {
  background-color: black;
  color: white;
  transition-delay: 0.25s ease-in-out;
  transition-duration: 0.5s;
  margin: 2em 0em 2em 0.6em;
  padding: 1.25em 15em;
  cursor: pointer;
}

.addToCart:hover {
  transform: scale(1.05);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  line-height: 2em;
  font-weight: 100;
  color: rgb(100, 100, 100);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
}
