@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
li {
  font-weight: normal;
  font-family: 'Handlee', cursive;
  color: rgb(32, 31, 31);
}
